footer {
    background-color: #161619;
    height: fit-content;
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}
  
    footer button {
        background-color: transparent;
        margin: 0 10px;
        border: none;
    }
    
    footer button > img {
        width: 30px;
    }