:root {
  font-family: Inter, sans-serif;
  color: #FFF;
  background-color: #23252C;
}

.card {
  background-color: #1A1B21;
  margin: 0 auto;
  width: 35%;
  padding: 0 !important;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section {
  margin: 0 35px !important;
}

  .content-section h2 {
    margin: 0;
  }

  .content-section p {
    margin: 5px 0 24px;
    line-height: 1.7;
    color: #DCDCDC;
  }

.profile-picture {
  width: 100%;          /* Fill the parent width */
  position: relative;   /* For positioning */
  padding-top: 80%;    /* Maintain aspect ratio (1:1) */
  overflow: hidden;     /* Hide any overflow */
  border-radius: 20px 20px 0 0;
}

  .profile-picture img {
    position: absolute;     
    top: 50%;                             /* Center image vertically */
    left: 50%;                            /* Center image horizontally */
    transform: translate(-55%, -30%);     /* Adjust the position of the image to center the image */ 
  }